<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

  <ion-segment  [(ngModel)]="whichsegment">
    <ion-segment-button value="send">
      <ion-label > Dealer setting </ion-label>
    </ion-segment-button>
    <ion-segment-button value="deals">
      <ion-label > Incoming</ion-label>
    </ion-segment-button>
    <ion-segment-button value="messages">
      <ion-label > Completed </ion-label>
    </ion-segment-button>
  </ion-segment>


<ion-content *ngIf="issued">
<div *ngIf="whichsegment == 'send'">

  <ion-card >
      <ion-card-content >
       <ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="generatetestnet()"> Enable auto approve </ion-button>
      <ion-button fill="clear" size="small" color="primary" (click)="generatetestnet()"> Disable auto approve </ion-button>
       </ion-item>
    </ion-card-content >
  </ion-card >


</div>
<div *ngIf="whichsegment == 'messages'">

  <ion-item *ngIf="sendingmessages.length == 0" >
  No messages
    </ion-item  >
         
 <ion-list> 

    <ion-item *ngFor="let msg of sendingmessages" >
          <ion-label  text-wrap>
            <h3> Aggrement id:          {{msg.message}} </h3>
            <h3> Contract:          {{msg.message}}
  </h3>
            <h4> Contract Address:          {{msg.address}}
  </h4>
            <p>
          PIN: {{msg.pin }}
            </p>
       </ion-label>
    </ion-item>

 </ion-list> 

</div>

<div *ngIf="whichsegment == 'pending'">

  <ion-item *ngIf="sendingmessages.length == 0" >
  No deals pending
    </ion-item  >

 <ion-list>

    <ion-item *ngFor="let msg of sendingmessages" >
          <ion-label  text-wrap>
            <h3> Deal id:          {{msg.message}} </h3>
            <h3> Deal Contract:          {{msg.message}}
  </h3>
            <h4> Requestor PIN :          {{msg.pin}}
  </h4>
       </ion-label>
    </ion-item>

 </ion-list>

</div>



</ion-content>
